workflow.json
{
  "name": "Web to Podcast Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-podcast",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.url }}",
        "authentication": "none",
        "options": {
          "timeout": 60000
        }
      },
      "id": "fetch-webpage",
      "name": "Fetch Webpage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ark.cn-beijing.volces.com/api/v3/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DOUBAO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.DOUBAO_ENDPOINT_ID, messages: [{ role: 'system', content: '你是一个内容过滤专家。请从以下网页HTML中提取主要文章内容，去除导航、广告、页脚等无关内容。只保留文章的标题和正文。' }, { role: 'user', content: $json.data.substring(0, 8000) }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "filter-content",
      "name": "Filter Content (Doubao)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ark.cn-beijing.volces.com/api/v3/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.DOUBAO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.DOUBAO_ENDPOINT_ID, messages: [{ role: 'system', content: '你是一个专业的播客脚本撰写专家。请将以下文章内容改写成适合播客朗读的脚本。要求：1. 使用口语化的表达；2. 添加适当的过渡语；3. 保持内容的完整性和准确性；4. 控制在3000字以内。' }, { role: 'user', content: $json.choices[0].message.content }], temperature: 0.8 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "generate-script",
      "name": "Generate Script (Doubao)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.choices[0].message.content;\nconst MAX_CHUNK_SIZE = 300;\nfunction splitTextIntoChunks(text, maxSize) {\n  const chunks = [];\n  let remaining = text;\n  while (remaining.length > 0) {\n    if (remaining.length <= maxSize) {\n      chunks.push(remaining.trim());\n      break;\n    }\n    let splitPoint = maxSize;\n    const searchArea = remaining.substring(0, maxSize);\n    const lastPunct = Math.max(\n      searchArea.lastIndexOf('。'),\n      searchArea.lastIndexOf('！'),\n      searchArea.lastIndexOf('？'),\n      searchArea.lastIndexOf('；'),\n      searchArea.lastIndexOf('，'),\n      searchArea.lastIndexOf('\\n')\n    );\n    if (lastPunct > maxSize * 0.5) {\n      splitPoint = lastPunct + 1;\n    }\n    chunks.push(remaining.substring(0, splitPoint).trim());\n    remaining = remaining.substring(splitPoint);\n  }\n  return chunks.filter(c => c.length > 0);\n}\nconst chunks = splitTextIntoChunks(text, MAX_CHUNK_SIZE);\nconst timestamp = Date.now();\nreturn chunks.map((chunk, index) => ({ json: { text: chunk, chunkIndex: index, totalChunks: chunks.length, timestamp: timestamp } }));"
      },
      "id": "split-text",
      "name": "Split Text into Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openspeech.bytedance.com/api/v1/tts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.DOUBAO_TTS_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ app: { cluster: 'volcano_tts' }, user: { uid: 'n8n-podcast' }, audio: { voice_type: 'BV001', encoding: 'mp3', speed_ratio: 1.0, volume_ratio: 1.0, pitch_ratio: 1.0 }, request: { reqid: String($json.timestamp) + '-' + String($json.chunkIndex), text: $json.text, operation: 'query' } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "tts-synthesis",
      "name": "TTS Synthesis (Doubao)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst timestamp = items[0].json.timestamp || Date.now();\nconst sortedItems = items.sort((a, b) => a.json.chunkIndex - b.json.chunkIndex);\nconst audioChunks = [];\nlet totalSize = 0;\nfor (const item of sortedItems) {\n  if (item.json.data) {\n    audioChunks.push(item.json.data);\n    totalSize += item.json.data.length;\n  }\n}\nconst combinedBase64 = audioChunks.join('');\nreturn [{ json: { audio_data: combinedBase64, timestamp: timestamp, chunks: items.length, total_size: totalSize }, binary: { data: { data: combinedBase64, mimeType: 'audio/mp3', fileName: 'podcast_' + timestamp + '.mp3' } } }];"
      },
      "id": "merge-audio",
      "name": "Merge Audio Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "automatically"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Webpage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Webpage": {
      "main": [
        [
          {
            "node": "Filter Content (Doubao)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Content (Doubao)": {
      "main": [
        [
          {
            "node": "Generate Script (Doubao)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script (Doubao)": {
      "main": [
        [
          {
            "node": "Split Text into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Text into Chunks": {
      "main": [
        [
          {
            "node": "TTS Synthesis (Doubao)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Synthesis (Doubao)": {
      "main": [
        [
          {
            "node": "Merge Audio Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Audio Chunks": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}